@import "/home/karakul/.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  /* main window transparent background */
}

tooltip {
  font-family: inherit;
  background: #15161e;
  /* tooltip background */
  border: 2px solid #c0caf5;
  /* tooltip border size and color */
  border-radius: 5px;
  /* tooltip rounded corners */
}

#workspaces button,
#mpris,
#privacy-item,
#bluetooth,
#clock,
#tray,
#power-profiles-daemon,
#pulseaudio,
#gamemode,
#network-group,
/* #custom-music, */
/* #memory, */
/* #cpu, */
/* #temperature, */
/* #battery, */
#custom-updates {
  background: @background;
  /* background color */
  margin: 2px 2px 2px 2px;
  /* empty spaces around */
  padding: 4px 10px;
  /* extend pill size, vertical then horizontal */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.185);
  /* pill background shadows */
  border-radius: 5px; /*Default 5*/
  /* rounded corners */
  color: @foreground;
}

#network-group > widget > * {
  margin: 0 5px;
  min-width: 65px;
}

#battery.critical {
  color: red;
}

#battery.warning {
  color: yellow;
}

/* extend empty space on both side of the bar,
 * value from ~/.config/hypr/hyprland.conf
 * gaps_out (8px) + border size (2px) = 10px */

#clock {
  padding-right: 5px;
}

#privacy-item {
  background: #e64553;
  color: #15161e;
}

#workspaces {
  padding: 0 3px;
  /* remove padding around workspace module */
}

#workspaces button {
  padding: 0px 12px 0px 8px;
  /* fit with pill padding, 0px for not haveing duped vertical padding, 4px to make a square (4px value from module padding: ...#clock {padding >>4px<< 10px}) */
  margin-left: 3px;
  border: 1px solid transparent;
  transition-property: background-color, border-left-color, border-right-color;
  transition-duration: 0.1s;
  font-size: 10px;
  color: @color13;
}

#workspaces button.empty {
  padding: 0px 10px;
}

#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button.active {
  /* active workspace */
  background: @color10;
  color: @background;
}

#workspaces button:not(.active) {
  padding-right: 1px;
}

#workspaces button:hover {
  background: @foreground;
}

#power-profiles-daemon {
  color: @color6;
}

@keyframes blink {
  to {
    background-color: #e64553;
  }
}
